#SoundEffectSlider {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: 65px;
    width: 100%;
}

#SoundEffectSlider #unity-drag-container {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background-image: url("project://database/Assets/Elements/upscalemedia-transformed.png?fileID=-3835579247118368046&guid=e37c1ad688718834fa370f44911605e1&type=3#upscalemedia-transformed_0");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-slice-type: sliced;
    -unity-slice-scale: 0.1px;
}

#SoundEffectSlider #unity-tracker {
    margin-top: 16px;
    margin-right: 4%;
    margin-bottom: 16px;
    margin-left: 4%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    flex-grow: 1;
    position: relative;
    top: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

#SoundEffectSlider #unity-dragger {
    height: 75px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: absolute;
    width: 64px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0);
    background-image: url("project://database/Assets/Elements/Lion_Ico.png?fileID=-3535624585567697922&guid=8cbbb9411af6bed428eace9701f44aa3&type=3#Lion_Ico_0");
    -unity-background-scale-mode: stretch-to-fill;
    top: -4px;
}

#SoundEffectSlider #unity-fill {
    background-image: url("project://database/Assets/Elements/ChatGPT%20Image%20Jul%2011,%202026,%2008_26_37%20PM.png?fileID=1766197295962502181&guid=8e2d30fbb75ed9743931277c81d04a4d&type=3#ChatGPT Image Jul 11, 2026, 08_26_37 PM_0");
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    -unity-background-scale-mode: stretch-to-fill;
    background-position-x: center;
    background-position-y: center;
    flex-shrink: 0;
    flex-grow: 0;
}

#MusicSlider {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: 65px;
    width: 100%;
}

#MusicSlider #unity-drag-container {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background-image: url("project://database/Assets/Elements/upscalemedia-transformed.png?fileID=-3835579247118368046&guid=e37c1ad688718834fa370f44911605e1&type=3#upscalemedia-transformed_0");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-slice-type: sliced;
    -unity-slice-scale: 0.1px;
}

#MusicSlider #unity-tracker {
    margin-top: 16px;
    margin-right: 4%;
    margin-bottom: 16px;
    margin-left: 4%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    flex-grow: 1;
    position: relative;
    top: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

#MusicSlider #unity-dragger {
    height: 75px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: absolute;
    width: 64px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0);
    background-image: url("project://database/Assets/Elements/Lion_Ico.png?fileID=-3535624585567697922&guid=8cbbb9411af6bed428eace9701f44aa3&type=3#Lion_Ico_0");
    -unity-background-scale-mode: stretch-to-fill;
    top: -4px;
}

#MusicSlider #unity-fill {
    background-image: url("project://database/Assets/Elements/ChatGPT%20Image%20Jul%2011,%202026,%2008_26_37%20PM.png?fileID=1766197295962502181&guid=8e2d30fbb75ed9743931277c81d04a4d&type=3#ChatGPT Image Jul 11, 2026, 08_26_37 PM_0");
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
}
